body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#nulltab{width: 100%;}
#camt{width: 50px;
    height: 50px;
    margin-left: 20px;}
#topnav {
  overflow: hidden;
  background-color: #fbaf95;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  background-color:white;
  color: black;
}

#topnav a.active {
  background-color: #4CAF50;
  color: white;
}
#container {
  position: relative;
  height: 60%;
  width: 80%;
  margin-left: 80px;
margin-right: 60px   ;
margin-bottom: 40px   ; }

#image {
  display: block;
  width: 100%;
  height: auto;
}

#overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 108, 108);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

#container:hover #overlay {
  height: 100%;
}

#text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#text2{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#text11{  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  color: white;
}
#tableContaner{background-color: rgb(43, 41, 41);
margin: 50px 100px 50px 100px;
border:10px solid rgb(255, 61, 61);}
#body{background-color: wheat;}  
#name{font-size: 18px;
  color: white;}
#nulltab2{height: 50px;
  width: 100%;
  background-color: #ffa088;}
 #topnav2{
   overflow: hidden;
  background-color: #fbaf95;
  position: fixed;
      }
      