body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
  }
  #nulltab{width: 100%;}
  #camt{width: 50px;
      height: 50px;
      margin-left: 20px;}
  #topnav {
    overflow: hidden;
    background-color: #fbaf95;
  }
  
  #topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #topnav a:hover {
    background-color:white;
    color: black;
  }
  
  #topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  #pf{
      width: 260px;
      height: 260px;
    border-radius: 80%;

}
#image-table{
    margin: 50px auto;
    background-color: white;
    padding :60px 60px;
    border-radius:35% ;
    border:15px solid #fbaf45;
}
#name{
    margin: 50px auto;
    padding-top: 4%;
    text-align: center;
}
#Description{
    text-align: center;
    padding-left: 0px;
}