.table{
margin: 2% 30%;}
#ll{background-color: brown;}
tr:nth-child(even) {background-color: #fdb4b4;text-align: left;}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  #nulltab{width: 100%;}
  #name{font-size: 18px;
color: white;}
  #nulltab2{height: 50px;
      width: 100%;
    background-color: #ffa088;}
  #camt{width: 50px;
      height: 50px;
      margin-left: 20px;}
  #topnav {
    overflow: hidden;
    background-color: #fbaf95;
  }
  
  #topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #topnav a:hover {
    background-color:white;
    color: black;
  }
  
  #topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  #container {
    position: relative;
    height: 60%;
    width: 80%;
    margin-left: 80px;
margin-right: 60px   ;
margin-bottom: 40px   ; }

#image {
    display: block;
    width: 100%;
    height: auto;
}

#overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 108, 108);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

#container:hover #overlay {
    height: 100%;
}

#image{width:400px ;
height: 250px;}