#body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  #nulltab{width: 100%;}
  #camt{width: 50px;
      height: 50px;
      margin-left: 20px;}
  #topnav {
    overflow: hidden;
    background-color: #fbaf95;
  }
  
  #topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #topnav a:hover {
    background-color:white;
    color: black;
  }
  
  #topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
#skill{
    width: 90px;
    height: 90px;
}
#tableskill{
    width: 100px;
    height: 100px;
    margin: 80px auto 0px auto;
}
#nameskill{
 text-align: center;}
 #myskill{
    width: 50px;
    height: 50px;
    margin: 0 20px;
}
#tableskill2{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    margin-bottom: 0px;
}
#content{background-color: rgb(252, 173, 137);
margin: auto 400px;
border-radius: 3%;}
#contentTableSkill{background-color: tomato;
border-radius: 3%;}
#bodycontent{background-color: rgb(250, 231, 169);
  border-radius: 3%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;}
  #name{font-size: 18px;
    color: white;}
  #nulltab2{height: 50px;
    width: 100%;
    background-color: #ffa088;}
   #topnav2{
     overflow: hidden;
    background-color: #fbaf95;
    margin-top: 20px;
    position: fixed;
        }
  